.card{
    width: 276px;
    height: 481px;
    color: $color--black;
    figure{
        width: 100%;
        height: 413px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        margin-bottom: 16px;
    }
    span{
        color: $color--grey;
        margin-top: 4px;
    }
}